* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body > header {
    background-color: #2f3640;
    color: #f5f6fa;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 16px;
}

header li a {
    color: #f5f6fa;
    text-decoration: none;
}

header li a:hover {
    text-decoration: underline;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img {
    width: 100%;
    max-height: 280px;
}

.articles article {
    width: 30%;
}

.articles article h3 {
    margin-bottom: 8px;
    margin-top: 8px;
    font-size: 24px;
}

.articles article p,
.articles article a {
    font-family: Arial, Helvetica, sans-serif;
}

.articles article a {
    background-color: rgb(0, 119, 255);
    color: white;
    padding: 8px;
    border-radius: 5px;
    display: inline-block;
    margin: 6px 0 10px 0;
    text-decoration: none;
    font-weight: bold;
}

.articles article a:hover {
    text-decoration: underline;
}

section {
    padding: 16px 0;
}

section h2 {
    font-size: 32px;
}

section h2,
.articles aricle {
    margin-bottom: 16px;
}

#sports {
    background-color: rgba(0, 255, 0, 0.1);
}

#sports .articles article a {
    background-color: #009432;
}

#economy {
    background-color: #f8f59f;
}

#economy .articles article a {
    background-color: #ff9f1a;
}

#tecnology {
    background-color: rgba(0, 0, 255, 0.3);
}

#entertainment {
    background-color: rgba(255, 0, 35, 0.3);
}
